@import url("https://fonts.googleapis.com/css2?family=Cagliostro&family=Kavivanar&family=Marck+Script&display=swap");

/* Title font */
.ms {
  font-family: "Marck Script", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Body font */
.kav,
input {
  font-family: "Kavivanar", cursive;
  font-weight: 400;
  font-style: normal;
}

/* More accessible title font */
.cag,
img {
  font-family: "Cagliostro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --text: hsl(247, 75%, 5%);
  --background: hsl(45, 100%, 87%);
  --primary: hsl(140, 19%, 28%);
  --primary-l: hsl(140, 19%, 38%);
  --secondary: hsl(33, 68%, 53%);
  --secondary-l: hsl(40, 84%, 80%);
  --accent: hsl(137, 38%, 48%);
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
  overflow-x: hidden;
  font-size: 20px;
  scroll-behavior: smooth;
  scrollbar-color: var(--background) var(--primary);
  overflow-wrap: anywhere;
}

*:focus-visible {
  outline-color: var(--secondary);
  outline-style: solid;
  outline-width: 0.25rem;
}

#app {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#bookInputs {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-areas: "image form";
  grid-template-columns: 50% 50%;
  align-items: start;
  justify-items: center;
}

#heroImage {
  grid-area: image;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: none;
}

#heroText {
  grid-area: image;
  align-self: center;

  /* #inputHeader is close to centred */
  height: calc((3rem * 2 + 23.4px * 2 + 33.5px * 2) * 1.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

#inputHeader {
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

#inputHeader,
#scrollIndicator {
  background-color: var(--primary);
  color: var(--background);
  padding: 0.5rem 1rem;
  border-radius: 1000px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.form-haver {
  grid-area: form;
  height: 100%;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.5);
}

form {
  height: 80%;
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--primary-l);
  border-radius: 20px;
  padding: 1rem;
}

label {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  color: var(--background);
}

input {
  border: none;
  border-radius: 5px;
  background-color: var(--background);
  color: var(--text);
  height: 3rem;
  padding-left: 1rem;
  font-size: 1rem;
  letter-spacing: 0.75mm;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

  transition: all 200ms ease-in-out;
}
input:hover {
  filter: brightness(80%);
}

button {
  width: 60%;
  height: 3.5rem;
  background-color: var(--accent);
  border-radius: 1000px;
  color: var(--background);
  border: none;
  font-size: 2rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

  transition: all 200ms ease-in-out;
}
button:active {
  scale: 0.9;
}
button:hover {
  filter: brightness(90%);
  scale: 1.1;
}

#msgView {
  width: 100%;
}

#responseHeader {
  text-align: center;
  margin: 4rem 0rem 2rem;
}

#responses {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  margin-bottom: 2rem;
}

.message {
  width: 70%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding: 0rem 1rem;
  background-color: var(--secondary-l);
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

  transition: scale 200ms ease-in-out;
}
.message:hover {
  scale: 1.025;
}

.message-date {
  font-size: 0.75rem;
}

footer {
  background-color: var(--primary);
  width: 100%;
  height: fit-content;
  min-height: 10rem;
  padding: 1rem 0rem;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--background);
}

a {
  text-decoration: none;
  color: var(--secondary);
}
a:hover {
  color: var(--secondary-l);
}

.footer-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}

#scrollButton {
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--primary-l);
  padding: 2rem;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 200ms ease-in-out;
}
#scrollButton:hover {
  scale: 1.1;
}
#scrollButton:active {
  scale: 0.9;
}

#scrollButton img {
  height: 1.25rem;
  width: auto;
  margin-bottom: 0.25rem;
}

@media only screen and (width < 480px) {
  html,
  body {
    font-size: 12px;
  }

  #heroImage {
    display: none;
  }

  #heroText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    justify-content: space-between;
    height: 90vh;
  }

  form {
    height: 45%;
  }

  #inputHeader,
  #scrollIndicator {
    width: max-content;
    background-color: var(--background);
    color: var(--text);
  }
  .message {
    width: 85%;
  }

  #bookInputs {
    grid-template-areas: "form";
    grid-template-columns: 100%;
  }
}
